@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
#page-head {
  background-color: #1B2224;
  z-index: 123;
  box-shadow: 0px 1px 7px #aaa;
}

#page-head #header {
  background-color: inherit;
  position: relative;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  height: 42px;
}

#page-head #header #jenkins-head-icon {
  display: none;
}

#page-head #header #jenkins-name-icon {
  position: absolute;
  left: -8px;
}

#page-head #breadcrumbBar {
  background-color: #FAFAFA;
  position: fixed;
  top: 66px !important;
  height: 48px !important;
}

#page-head #breadcrumbBar #breadcrumbs {
  border: none;
  height: 48px;
}

#page-head #breadcrumbBar #breadcrumbs li {
  height: 48px;
}

#page-head #breadcrumbBar #breadcrumbs li a {
  height: 48px;
  line-height: 48px;
}

#page-head #breadcrumbBar #right-top-nav {
  height: 48px;
}

#page-head #breadcrumbBar #right-top-nav a {
  height: 48px;
  line-height: 48px;
  text-decoration: none;
  font-size: 8pt;
}

#page-head #breadcrumbBar .top-sticker {
  background-color: #FAFAFA;
  top: 66px !important;
  height: 48px !important;
  border-bottom: 1px solid #ddd;
}

#page-head #breadcrumbBar .top-sticker-inner {
  background-color: #FAFAFA;
  height: 48px;
}

#search-box {
  background: #fff;
  padding-left: 2px;
}

.icon-help {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url() no-repeat;
  width: 24px;
  /* Width of new image */
  height: 24px;
  /* Height of new image */
  padding-left: 24px;
  /* Equal to width of new image */
}

@-webkit-keyframes building {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.15;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes building {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.15;
  }
  100% {
    opacity: 1;
  }
}

Keyframes building 0% {
  opacity: 1;
}

Keyframes building 50% {
  opacity: 0.15;
}

Keyframes building 100% {
  opacity: 1;
}

img[src$="blue.png"], img[src$="blue.gif"], img[src$="blue_anime.gif"],
img[src$="yellow.png"], img[src$="yellow.gif"], img[src$="yellow_anime.gif"],
img[src$="red.png"], img[src$="red.gif"], img[src$="red_anime.gif"],
img[src$="grey.png"], img[src$="grey.gif"], img[src$="grey_anime.gif"],
img[src$="disabled.png"], img[src$="disabled.gif"], img[src$="disabled_anime.gif"],
img[src$="nobuilt.png"], img[src$="nobuilt.gif"], img[src$="nobuilt_anime.gif"],
img[src$="aborted.png"], img[src$="aborted.gif"], img[src$="aborted_anime.gif"] {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  padding: 0;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 3px #333;
}

img[src*="blue.png"], img[src*="blue_anime.gif"] {
  background: #326ca6 !important;
}

img[src*="yellow.png"], img[src*="yellow_anime.gif"] {
  background: #FFFB00 !important;
}

img[src*="red.png"], img[src*="red_anime.gif"] {
  background: #FF7373 !important;
}

img[src*="_anime.gif"] {
  -webkit-animation: building 1.75s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: building 1.75s;
  -moz-animation-iteration-count: infinite;
  -o-animation: building 1.75s;
  -o-animation-iteration-count: infinite;
}

img[src*="progress-unknown.gif"], img[src*="progress-unknown-red.gif"] {
  width: 42px;
  height: 10px;
}

img[src$="images/16x16/blue.png"], img[src$="images/16x16/blue.gif"], img[src$="images/16x16/blue_anime.gif"],
img[src$="images/16x16/yellow.png"], img[src$="images/16x16/yellow.gif"], img[src$="images/16x16/yellow_anime.gif"],
img[src$="images/16x16/red.png"], img[src$="images/16x16/red.gif"], img[src$="images/16x16/red_anime.gif"],
img[src$="images/16x16/grey.png"], img[src$="images/16x16/grey.gif"], img[src$="images/16x16/grey_anime.gif"],
img[src$="images/16x16/disabled.png"], img[src$="images/16x16/disabled.gif"], img[src$="images/16x16/disabled_anime.gif"],
img[src$="images/16x16/nobuilt.png"], img[src$="images/16x16/nobuilt.gif"], img[src$="images/16x16/nobuilt_anime.gif"],
img[src$="images/16x16/aborted.png"], img[src$="images/16x16/aborted.gif"], img[src$="images/16x16/aborted_anime.gif"] {
  width: 0;
  height: 16px;
  padding: 0 16px 0 0;
}

img[src$="images/24x24/blue.png"], img[src$="images/24x24/blue.gif"], img[src$="images/24x24/blue_anime.gif"],
img[src$="images/24x24/yellow.png"], img[src$="images/24x24/yellow.gif"], img[src$="images/24x24/yellow_anime.gif"],
img[src$="images/24x24/red.png"], img[src$="images/24x24/red.gif"], img[src$="images/24x24/red_anime.gif"],
img[src$="images/24x24/grey.png"], img[src$="images/24x24/grey.gif"], img[src$="images/24x24/grey_anime.gif"],
img[src$="images/24x24/disabled.png"], img[src$="images/24x24/disabled.gif"], img[src$="images/24x24/disabled_anime.gif"],
img[src$="images/24x24/nobuilt.png"], img[src$="images/24x24/nobuilt.gif"], img[src$="images/24x24/nobuilt_anime.gif"],
img[src$="images/24x24/aborted.png"], img[src$="images/24x24/aborted.gif"], img[src$="images/24x24/aborted_anime.gif"] {
  width: 0;
  height: 24px;
  padding: 0 24px 0 0;
}

img[src$="images/32x32/blue.png"], img[src$="images/32x32/blue.gif"], img[src$="images/32x32/blue_anime.gif"],
img[src$="images/32x32/yellow.png"], img[src$="images/32x32/yellow.gif"], img[src$="images/32x32/yellow_anime.gif"],
img[src$="images/32x32/red.png"], img[src$="images/32x32/red.gif"], img[src$="images/32x32/red_anime.gif"],
img[src$="images/32x32/grey.png"], img[src$="images/32x32/grey.gif"], img[src$="images/32x32/grey_anime.gif"],
img[src$="images/32x32/disabled.png"], img[src$="images/32x32/disabled.gif"], img[src$="images/32x32/disabled_anime.gif"],
img[src$="images/32x32/nobuilt.png"], img[src$="images/32x32/nobuilt.gif"], img[src$="images/32x32/nobuilt_anime.gif"],
img[src$="images/32x32/aborted.png"], img[src$="images/32x32/aborted.gif"], img[src$="images/32x32/aborted_anime.gif"] {
  width: 28px !important;
  height: 28px !important;
  padding: 28px 28px 0 0;
  margin: 4px 0px 4px 20px;
}

img[src$="images/48x48/blue.png"], img[src$="images/48x48/blue.gif"], img[src$="images/48x48/blue_anime.gif"],
img[src$="images/48x48/yellow.png"], img[src$="images/48x48/yellow.gif"], img[src$="images/48x48/yellow_anime.gif"],
img[src$="images/48x48/red.png"], img[src$="images/48x48/red.gif"], img[src$="images/48x48/red_anime.gif"],
img[src$="images/48x48/grey.png"], img[src$="images/48x48/grey.gif"], img[src$="images/48x48/grey_anime.gif"],
img[src$="images/48x48/disabled.png"], img[src$="images/48x48/disabled.gif"], img[src$="images/48x48/disabled_anime.gif"],
img[src$="images/48x48/nobuilt.png"], img[src$="images/48x48/nobuilt.gif"], img[src$="images/48x48/nobuilt_anime.gif"],
img[src$="images/48x48/aborted.png"], img[src$="images/48x48/aborted.gif"], img[src$="images/48x48/aborted_anime.gif"] {
  width: 0;
  height: 48px;
  padding: 0 48px 0 0;
}

.tabBarFrame {
  margin-bottom: 12px;
  border: 1px solid #ddd;
}

.tabBarFrame .tabBar {
  top: 0px;
}

.tabBarFrame .tab {
  margin: 0px !important;
  padding: 0px !important;
  border: none !important;
}

.tabBarFrame .tab a {
  border: none !important;
  padding: 8px 12px;
}

.tabBarFrame .tab.active {
  background-color: #326ca6;
}

.tabBarFrame .tab.active a {
  background-color: #326ca6;
  color: #fafafa;
}

#projectstatus {
  border-radius: 0px;
}

#projectstatus .header {
  border: none;
  border-radius: 0px;
}

#projectstatus .header th {
  background-color: #FAFAFA;
  border-radius: 0px;
}

#projectstatus .header th:first-child {
  padding-left: 22px;
}

#projectstatus tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.025) !important;
}

#projectstatus tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.075) !important;
}

.pane-frame {
  border: solid 1px #ddd;
  border-radius: 0px;
}

#buildQueue, #executors, #buildHistory {
  padding: 0px !important;
  border: none;
  color: #eee !important;
}

#buildQueue .row, #executors .row, #buildHistory .row {
  margin: 0px;
  padding: 0px;
}

#buildQueue .pane-header, #buildQueue .pane-footer, #executors .pane-header, #executors .pane-footer, #buildHistory .pane-header, #buildHistory .pane-footer {
  margin-bottom: 0.2em;
  color: #ddd;
  font-size: 11pt;
  padding: 0px;
  background-color: inherit;
  border: none;
}

#buildQueue .pane-header a[href="/computer/"], #buildQueue .pane-footer a[href="/computer/"], #executors .pane-header a[href="/computer/"], #executors .pane-footer a[href="/computer/"], #buildHistory .pane-header a[href="/computer/"], #buildHistory .pane-footer a[href="/computer/"] {
  color: #ddd;
}

#buildQueue td, #executors td, #buildHistory td {
  color: #999;
}

#buildQueue tr:nth-child(odd), #executors tr:nth-child(odd), #buildHistory tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.025) !important;
}

#buildQueue tr:nth-child(even), #executors tr:nth-child(even), #buildHistory tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.055) !important;
}

#buildQueue:focus {
  outline: 0;
}

a[href*="rssAll"], a[href="/legend"], a[href*="rssFailed"], a[href="rssLatest"], a[href="editDescription"], #footer {
  display: none;
}

body, table, form, input, td, th, p, textarea, select {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10pt;
  line-height: 1.5;
}

body {
  background-color: #ececec;
  color: #333;
}

a {
  text-decoration: none !important;
}

a:visited {
  color: #204A87;
}

#page-head {
  position: fixed;
  height: 114px;
  left: 0px;
  right: 0px;
}

#page-body {
  min-height: 200px !important;
  position: fixed;
  top: 114px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

#bottom-sticker {
  width: auto;
}

.bottom-sticker-inner {
  background-color: inherit;
}

.bottom-sticker-edge {
  display: none;
}

#footer-container {
  display: none;
  position: fixed;
  height: 42px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.white-text {
  color: #fafafa !important;
}

#main-panel {
  position: fixed !important;
  top: 114px;
  left: 370px;
  right: 0px;
  bottom: 0px;
  overflow-y: auto;
  padding: 0px !important;
  margin: 0px !important;
  overflow-y: auto;
  width: auto !important;
}

#main-panel-content {
  max-height: 100% !important;
  max-width: 100% !important;
  position: relative;
}

#side-panel {
  position: fixed !important;
  top: 114px;
  left: 0px;
  bottom: 0px;
  margin: 0px !important;
  padding-left: 12px;
  padding-right: 12px;
  width: 370px;
  background-color: #222;
  color: #eee;
}

#side-panel a {
  color: #999;
}

#side-panel a:hover, #side-panel a:focus {
  color: #FFF;
  text-decoration: none !important;
}

.pane-frame {
  border: none !important;
}

#hoverNotification {
  position: fixed !important;
  padding: 24px !important;
  bottom: 60px !important;
  left: 390px !important;
  top: auto !important;
  right: auto !important;
  width: auto !important;
  border: none !important;
  border-radius: 12px;
  color: #fafafa;
  background-color: #326ca6;
  box-shadow: 0px 0px 3px #333;
}
