#page-head{
    background-color: #1B2224;
    z-index: 123;
    box-shadow: 0px 1px 7px #aaa;

    #header {
        background-color: inherit;
        position: relative;
        padding-top:12px !important;
        padding-bottom: 12px !important;
        height: 42px;
        #jenkins-head-icon {
            display: none;
        }

        #jenkins-name-icon {
            position: absolute;
            left: -8px;
        }


    }

    #breadcrumbBar {
        background-color: #FAFAFA;
        position: fixed;
        top: 66px !important;
        height: 48px !important;

        #breadcrumbs {
            border: none;
            height: 48px;
            li {
                a {
                    height: 48px;
                    line-height: 48px;
                }
                height: 48px;
            }
        }
        #right-top-nav {
            height: 48px;
            a {
                height: 48px;
                line-height: 48px;
                text-decoration: none;
                font-size: 8pt;
            }

        }

        .top-sticker {
            background-color: #FAFAFA;
            top: 66px !important;
            height: 48px !important;
            border-bottom: 1px solid #ddd;

        }
        .top-sticker-inner {
            background-color: #FAFAFA;
            height: 48px;
        }

    }

}

#search-box {
    background: #fff;
    padding-left: 2px;
}

.icon-help {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url() no-repeat;
    width: 24px; /* Width of new image */
    height: 24px; /* Height of new image */
    padding-left: 24px; /* Equal to width of new image */
}
