@import "_balls.scss";
#projectstatus-tabBar {
    margin-bottom: 12px;
    border: 1px solid #ddd;
    .tab {
        margin: 0px !important;
    }
}


#projectstatus {
    border-radius: 0px;

    .header {
        th {
            background-color: #FAFAFA;
            border-radius: 0px;

        }
        th:first-child {
            padding-left: 22px;
        }


        border: none;
        border-radius: 0px;
    }

    tr:nth-child(odd) {
        background-color: rgba(0,0,0,.025)!important;
    }

    tr:nth-child(even) {
        background-color: rgba(0,0,0,.075)!important;
    }
}

.pane-frame {
    //margin-top:12px;
    border: solid 1px #ddd;
    border-radius: 0px;
}
